<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-datepicker.js}" src="bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

    <title>Spring Boot</title>
</head>
<body>
<div>
    <h1>Vi leker med Spring Boot</h1>
</div>
<div class="container">
    <form th:action="@{/addPerson/(form)}" th:object="${person}"
          action="#" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="fornavn"></label>Fornavn:<input id="fornavn" type="text" th:field="*{fornavn}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="etternavn"></label>Etternavn:<input id="etternavn" type="text" th:field="*{etternavn}" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container">

    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Fornavn</th>
            <th>Etternavn</th>
        </tr>
        <tr th:each="person : ${personer}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.fornavn}"></td>
            <td th:text="${person.etternavn}"></td>
        </tr>
    </table>
</div>
</body>
</html>
